<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/blog/bs/css/bootstrap.css">
    <style>
        .error{
            color: red;
        }
    </style>
</head>
<body>

<h3>注册页面</h3>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-offset-3">
            <form class="form">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.auto_id }}">{{ field.label }}</label>
                        {{ field }} <span class="error pull-right"></span>
                    </div>
                {% endfor %}
                <div class="form-group">
                    <label for="avatar">
                        头像
                        <img width="60" height="60" id="avatar_img" src="/static/blog/img/default.png" alt="">
                    </label>
                    <input type="file" id="avatar" style="display: none">

                </div>

                <input class="btn btn-default reg_btn" type="button" value="submit"><span class="error"></span>

            </form>
        </div>
    </div>
</div>


<script src="/static/js/jquery-3.2.1.min.js"></script>

<script>
    $("#avatar").change(function(){
        var file_obj=$(this)[0].files[0];
        var reader = new FileReader();
        reader.readAsDataURL(file_obj);
        reader.onload=function(){
            $("#avatar_img").attr("src",reader.result);
        };

    });

    //基于Ajax提交数据
    $(".reg_btn").click(function () {
        var formdata=new FormData();
        formdata.append("user",$("#id_user").val());
        formdata.append("pwd",$("#id_pwd").val());
        formdata.append("re_pwd",$("#id_re_pwd").val());
        formdata.append("email",$("#id_email").val());
        formdata.append("avatar",$("#avatar")[0].files[0]);
        formdata.append("csrfmiddlewaretoken",$("[name='csrfmiddlewaretoken']").val());

        $.ajax({
            url:"",
            type:"post",
            contentType:false,
            processData:false,
            data:formdata,
            success:function (data) {
                if(data.user){
                    location.href="/login/";
                }
                else{
                    $("span.error").html("");
                    $(".form-group").removeClass("has-error");
                    $.each(data.msg,function (field,error_list) {

                        if(field=="__all__"){
                            $("#id_re_pwd").next().html(error_list[0]).parent().addClass("has-error");
                        }

                        $("#id_"+field).next().html(error_list[0]);
                        $("#id_"+field).parent().addClass("has-error");
                    })
                }
            }
        })
    });

</script>

</body>
</html>