<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/blog/bs/css/bootstrap.css">
</head>
<body>

<h3>注册页面</h3>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-offset-3">
            <form>
                {% csrf_token %}

                {% for field in form %}
                    <div class="form-group">
                        <label for="user">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
                <div class="form-group">
                    <label for="avatar">头像</label>
                    <input type="file">
                </div>


                <input class="btn btn-default login_btn" type="button" value="submit"><span class="error"></span>

            </form>
        </div>
    </div>
</div>


<script src="/static/js/jquery-3.2.1.min.js"></script>
<script>
    //局部刷新验证码
    $("#valid_code_img").click(function () {
        $(this)[0].src += "?";
    });

    //登录验证
    $(".login_btn").click(function () {

        $.ajax({
            url: "",
            type: "post",
            data: {
                user: $("#user").val(),
                pwd: $("#pwd").val(),
                valid_code: $("#valid_code").val(),
                csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
            },
            success: function (data) {
                if (data.user) {
                    location.href = "/index/";
                } else {
                    $(".error").text(data.msg).css({"color": "red"});
                }
            }
        })
    })

</script>
</body>
</html>